<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <title>{{title}}</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
<!--    <script>-->
<!--        function myFunction() {-->
<!--          document.getElementById("userList").deleteRow();-->
<!--        }-->
<!--</script>-->
</head>
<body>
   <h1>Checkout your Bowling Score below: </h1>
        <table id="userList" class="table table-striped table-bordered table-md">
                <tbody>
                      <tr>
                        <th>FrameID</th>
                          <th>Roll1</th>
                          <th>Roll2</th>
                          <th>Roll3</th>
                          <th>Total</th>
                      </tr>

                      {% for r in result %}
                      <tr>
                          <td>{{r.frame}}</td>
                          <td>{{r.roll1}}</td>
                          <td>{{r.roll2}}</td>
                          <td>{{r.roll3}}</td>
                          <td>{{r.total}}</td>
                      </tr>
                      {% endfor %}
                </tbody>
        </table>
   <h1>If you want to play again, click the link below:</h1>
    <div id="button"><a href="/"><h2>Try another input</h2></a></div>
</body>
</html>